{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans 'Register as a student' %}</h1>

<form method="post" action="{% url 'accounts:register' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>
        {{ form.username }}
        {% if form.username.errors %}
          {{ form.username.errors }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>{{ form.password1.label_tag }}</td>
      <td>
        {{ form.password1 }}
        {% if form.password1.errors %}
          {{ form.password1.errors }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>{{ form.password2.label_tag }}</td>
      <td>
        {{ form.password2 }}
        {% if form.password2.errors %}
          {{ form.password2.errors }}
        {% endif %}
      </td>
    </tr>
  </table>
  <input type="submit" value="{% trans 'Register' %}">
</form>

{% endblock %}
