
{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>

<script src="{% static 'javascript/csound.js' %}"></script>
<script src="{% static 'javascript/interactive_csound.js' %}"></script>

<p>Test name: {{ context.test_name }}</p>
<p>FX set: {{ context.effect_set }}</p>

<!-- {% for effect_name, effect_parameter_set in context.effect_set.items %}

	<h3>{{ effect_name }}</h3>
	{% for parameter, values in effect_parameter_set.items %}
		<p>{{ parameter }}: <input class="slider" type="range" min={{ values.1.0 }} max={{ values.1.1 }} value="{{ values.0 }}" step="0.001" /> </p>
	{% endfor %}

{% endfor %} -->

<p>Feedback: <input class="slider" id="knob1" type="range" min=0.0 max=1.0 value=0.0 step="0.001" /></p>
<p>Lowpass: <input class="slider" id="knob2" type="range" min=20 max=20000 value=440 step="0.001" /></p>
<p>Predelay: <input class="slider" id="knob3" type="range" min=0.0 max=250.0 value=0.0 step="0.001" /></p>
<p>Wet/dry: <input class="slider" id="knob4" type="range" min=0.0 max=1.0 value=0.5 step="0.001" /></p>

<script type="text/javascript">
    $("#knob1").on("input change", function() {
        csound.SetChannel("param1", this.value);
    });
    $("#knob2").on("input change", function() {
        csound.SetChannel("param2", this.value);
    });
    $("#knob3").on("input change", function() {
        csound.SetChannel("param3", this.value);
    });
    $("#knob4").on("input change", function() {
        csound.SetChannel("param4", this.value);
    });	

    function moduleDidLoad() {
	    localStorage.clear();

	    // Load initial csd file
	    var csd_url = "/static/pnacl/test.csd";
	    var csd_name = "test.csd";
	    csound.CopyUrlToLocal(csd_url, csd_name);

	    // Load initial audio file
	    loadAudio("/site_media/system/samples/{{ context.sound }}");

	    // Start csound
	    csound.PlayCsd("local/test.csd");

	    // Set levels to hear only the target sound
	    csound.SetChannel("targetAmplitude", 1.0);
	    csound.SetChannel("userAmplitude", 0.0);

	    // Initialize parameters
	    csound.SetChannel("param1", 0.5);
	    csound.SetChannel("param2", 5000);
	    csound.SetChannel("param3", 10);
	    csound.SetChannel("param4", 0.5);
	}

</script>


<input type="image" id="playPauseButton" src="{% static 'images/play.png' %}" style="outline: none;" />
<input type="button" id="switchInstanceButton" value="A/B">

<audio controls>
<source src="/site_media/system/samples/{{ context.sound }}" type="audio/wav">
</audio>

  <!-- csound message field -->
<div id="csound_message"> </div>

<!--pNaCl csound module -->
<div id="engine"></div>


</body>
</html>