
{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/css/application.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> <!-- LAGT TIL -->

	<style>
		.knobjs-bg {
			fill: rgba(0,0,0,0);
		}

		.knobjs-arcbg {
			fill: rgba(0,0,0,0); 
			stroke-width: 0.05; 
			stroke: #BBB;
		}

		.knobjs-arc {
			fill: #BBB;
		}

		x-knobjs-knob {
			display: inline-block;
			height: 90px;
		}

		.line{
			float: left;
		}

		.knob {
			display: inline-block;
			width: 90px;
			text-align: center;
			vertical-align: text-top;
			padding-right: 25px;
		}

		.knob_value {
			position: relative;
			top: -64px;
			pointer-events: none;
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
			color: #BBB;
		}

		.knob_label {
			height: 20px;
			position: relative;
			top: -40px;
			pointer-events: none;
			font-family: 'Montserrat', sans-serif;
			color: #333;
		}

		h2 {
			font-family: 'Montserrat';
			color: #333;
			line-height: 140%;
		}

	</style>
	<script src="http://www.russellmcc.com/knobjs/knob.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static 'javascript/csound.js' %}"></script>
    <script src="{% static 'javascript/wavesurfer.min.js' %}"></script>
</head>

<body>
<script src="{% static 'javascript/interactive_csound.js' %}"></script>

<!-- <p>Test name: {{ context.test_name }}</p>
<p>FX set: {{ context.effect_set }}</p>
<p>FX values: {{ context.effect_values }}</p>
<p>csd file: {{ context.csd }}</p> -->

<input type="image" id="playPauseButton" src="{% static 'images/play.png' %}" style="outline: none;" />
<input type="button" id="switchInstanceButton" value="A/B">

<form class="test-form-wrapper" action="/tutor/test_interactive/{{ context.test_name }}/{{ context.level }}/{{ context.FX }}" method="post">
	{% csrf_token %}
	<input type="submit" value="Submit" />
	<input type="hidden" name="effect_set" value="{{ context.effect_set }}">

	<script type="text/javascript">
		// Set value for each potmeter to be able to evaluate the user
		{% for effect_name, effect_parameter_set in context.effect_set.items %}
			{% for parameter, values in effect_parameter_set.items %}

				// Get max/min and the function curve type: lin, expon or log.
				var minValue = {{ values.0.0 }};
				var maxValue = {{ values.0.1 }};
				var dataType = "{{ values.2 }}"; // float or int
				var humanReadableLabelText = "{{ values.3 }}";

				// Get correct average value based on curve function
				var curveType = "{{ values.1 }}"; // lin, exp or log
				var averageValue = ((minValue + maxValue) / 2);
				var scaledAverageValue = getValueFromCurve(averageValue, minValue, maxValue, curveType);

				document.write("<input type=\"hidden\" id=\"{{ effect_name }}:{{ parameter }}\" name=\"{{ effect_name }}:{{ parameter }}\" value=" + scaledAverageValue + ">");
			{% endfor %}
		{% endfor %}

	</script>


</form>

<p>Input level: <input class="slider" id="input_level" type="range" min=0.0 max=1.0 value=1.0 step="0.01"/><label id="input_level_label">1</label></p>
<!-- <div class="knob">
<x-knobjs-knob id="input_level" min="0.0" max="1.0" value="1.0"></x-knobjs-knob>
<label class="knob_label" id="input_level_label">1.0</label>
<h2 class="input_level_title" id="input_level_title">Input level</h2>
</div> -->

<script type="text/javascript">

	$(document).on('touchmove', function(e) {
	    if (!$(e.target).parents('.scroll')[0]) {
	        e.preventDefault();
	    }
	});

	// Cancel dragging if mouse leaves the iframe container.
    $('.testElement').on('mouseleave', function(){
    	var event = document.createEvent('MouseEvents');
    	event.initEvent('blur', true, true);
    	document.dispatchEvent(event);
    });

	// All other sliders
	{% for effect_name, effect_parameter_set in context.effect_set.items %}
		document.write("<div class=\"effect\">");
		{% for parameter, values in effect_parameter_set.items %}

			// Get max/min and the function curve type: lin, expon or log.
			var minValue = {{ values.0.0 }};
			var maxValue = {{ values.0.1 }};
			var dataType = "{{ values.2 }}"; // float or int
			var humanReadableLabelText = "{{ values.3 }}";

			// Get correct average value based on curve function
			var curveType = "{{ values.1 }}"; // lin, exp or log
			var averageValue = ((minValue + maxValue) / 2);
			var scaledAverageValue = getValueFromCurve(averageValue, minValue, maxValue, curveType);

			document.write("<div class=\"knob\">\
				<x-knobjs-knob id=\"{{ effect_name }}_{{ parameter }}\"></x-knobjs-knob>\
				<label class=\"knob_value\" id = \"{{ effect_name }}_{{ parameter }}_label\">123</label>\
				<h2 class=\"knob_label\" id=\"{{ effect_name }}_{{ parameter }}\">{{ values.3 }}</h2></div>");
			document.getElementById("{{ effect_name }}_{{ parameter }}").setAttribute("max", maxValue);
			document.getElementById("{{ effect_name }}_{{ parameter }}").setAttribute("min", minValue);
			document.getElementById("{{ effect_name }}_{{ parameter }}").setAttribute("value", averageValue);

			// Set number of decimals in label string to fit inside knob
			var labelValue = getLabelValue(scaledAverageValue);

			// Check if parameter type use discrete steps
			if (dataType == 'int') {
				// If int, we don't need decimal points
				labelValue = parseFloat(labelValue.toString()).toFixed(0);
			}

			$("#{{ effect_name }}_{{ parameter }}_label").text(labelValue);
		{% endfor %}
		document.write("</div>");
	{% endfor %}

    function moduleDidLoad() {
		//localStorage.clear();

		console.log("moduleDidLoad");
		// Add waveform
		wavesurfer.init({
			container: document.querySelector('#waveform'),
			progressColor: '#68D8D6',
			waveColor: '#00B2A9',
			cursorWidth: '0',
			pixelRatio: '2',
			interact: false
		});
		wavesurfer.load("/site_media/system/samples/{{ context.sound }}");
		wavesurfer.toggleMute();

		// Load initial csd file
		var csd_url = "/site_media/user/{{ context.csd }}";
		var csd_name = "test.csd";
		csound.CopyUrlToLocal(csd_url, csd_name);

		// Load initial audio file. TODO: Be able to change audio file
		loadAudio("/site_media/system/samples/{{ context.sound }}");

		// Print num channels in audio file
		var a = new Audio("/site_media/system/samples/{{ context.sound }}");
		a.load()
		document.body.appendChild( a );
		var channels = [a];
		console.log("Num channels: " + channels.length);

		// Start csound
		setTimeout(function() {
			csound.PlayCsd("local/test.csd");
		}, 500);

		// Set levels to hear only the target sound
		csound.SetChannel("target_amplitude", 1.0);
		csound.SetChannel("user_amplitude", 0.0);
		csound.SetChannel("input_level", 1.0);

		// Add input level slider listener
		$("#input_level").on("input change", function() {
			var value = document.getElementById("input_level").value;
			csound.SetChannel("input_level", value);
			$("#input_level_label").text(value);
		});

		// Add sliders for csound communication
		{% for effect_name, effect_parameter_set in context.effect_set.items %}
			{% for parameter, values in effect_parameter_set.items %}

				// Get max/min and the function curve type [lin, expon, log]
				var minValue = {{ values.0.0 }};
				var maxValue = {{ values.0.1 }};

				// Get average value based on function slope
				var curveType = "{{ values.1 }}";
				var averageValue = getValueFromCurve(((minValue + maxValue) / 2), minValue, maxValue, curveType);

				csound.SetChannel("{{ effect_name }}_{{ parameter }}", averageValue);

				// Add listeners
				$("#{{ effect_name }}_{{ parameter }}").on("input change", function() {
					var minValue = {{ values.0.0 }};
					var maxValue = {{ values.0.1 }};
					var curveType = "{{ values.1 }}"; // lin, exp or log
					var dataType = "{{ values.2 }}"; // float or int

					var value = document.getElementById("{{ effect_name }}_{{ parameter }}").value;
					var scaledValue = getValueFromCurve(value, minValue, maxValue, curveType);
					csound.SetChannel("{{ effect_name }}_{{ parameter }}", scaledValue);

					// Set number of decimals in label string to fit inside knob
					var labelValue = getLabelValue(scaledValue);

					// Check if parameter type use discrete steps
					if (dataType == 'int') {
						// If int, we don't need decimal points
						labelValue = parseFloat(scaledValue.toString()).toFixed(0);

						// Set the csound value once again (for integer types only)
						csound.SetChannel("{{ effect_name }}_{{ parameter }}", labelValue);
					}

					$("#{{ effect_name }}_{{ parameter }}_label").text(labelValue);

					document.getElementById("{{ effect_name }}:{{ parameter }}").value = scaledValue;

			    });
			{% endfor %}
		{% endfor %}

	}

	function mute() {
		if(!userInstanceIsPlaying) {
			csound.SetChannel("target_amplitude", 0.0);
			csound.SetChannel("user_amplitude", 1.0);
		} else {
			csound.SetChannel("target_amplitude", 1.0);
			csound.SetChannel("user_amplitude", 0.0);
		}
		userInstanceIsPlaying = !userInstanceIsPlaying;

		if(!userInstanceIsPlaying) {
			$('.knobjs-arcbg').css("stroke", "#BBB");
			$('.knobjs-arc').css("fill", "#BBB");
			$('.knob_value').css("color", "#BBB");
		} else {
			$('.knobjs-arcbg').css("stroke", "#00B2A9");
			$('.knobjs-arc').css("fill", "#00B2A9");
			$('.knob_value').css("color", "#00B2A9");
		}
	}
</script>

<!-- waveform -->
<div id="waveform">
    <div class="progress progress-striped active" id="progress-bar">
        <div class="progress-bar progress-bar-info"></div>
    </div>
</div>

<!-- csound message field -->
<div id="csound_message"> </div>

<!--pNaCl csound module -->
<div id="engine"></div>

</body>
</html>