{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans 'About gDSP' %}</h1>

{# Content goes here. #}

<p> The gDSP course relates to ear training in the domain of Digital Signal Processing techniques. 
The online version stems from a course taught at the masters level of <a href="http://www.ntnu.no/studier/mmust">Music Technology at NTNU</a>. 
It was developed with support from <a href="http://norgesuniversitetet.no">Norgesuniversitetet</a><br>
The following partners has contributed to the course design and content:<br>
<ul>
<li>Oeyvind Brandtsegg - NTNU, Department of Music, Music Technology</li>
<li>Sigurd Saue - NTNU, Department of Music, Music Technology</li>
<li>Jan Tro - NTNU Insitute for electronics and telecommunication</li>
<li>John Paal Inderberg - NTNU, Department of Music, Jazz</li>
<li>Axel Tidemann - NTNU Department of Computer and Information Science</li>
<li>Notto J.W. Thelle - NOTAM, Norwegian Center for Technology in Music and the Arts</li>
<li>Joeran Rudi - NOTAM, Norwegian Center for Technology in Music and the Arts</li>
<li>Haakon Kvidal - NMH, Norwegian Academy of Music</li>
<li>Victor Lazzarini - NUIM, Nathional University of Ireland Maynooth, Department of Music</li>
<ul>
</p>
{% endblock %}
