{% extends 'base.html' %}
{% load i18n %}

{% block content %}

	<h1>{% trans 'About gDSP' %}</h1>

	{# Content goes here. #}
    
    <p> The gDSP course relates to ear training in the domain of Digital Signal Processing techniques. 
    The online version stems from a course taught at the masters level of <a href="http://www.ntnu.no/studier/mmust" target="_blank">Music Technology at NTNU</a>. 
    It was developed with support from <a href="http://norgesuniversitetet.no" target="_blank">Norgesuniversitetet</a><br><br>
    The following partners has contributed to the course design and content:<br>
    </p><ul>
    <li><strong>Oeyvind Brandtsegg</strong> - NTNU, Department of Music, Music Technology</li>
    <li><strong>Sigurd Saue</strong> - NTNU, Department of Music, Music Technology</li>
    <li><strong>Jan Tro</strong> - NTNU Insitute for electronics and telecommunication</li>
    <li><strong>John Paal Inderberg</strong> - NTNU, Department of Music, Jazz</li>
    <li><strong>Axel Tidemann</strong> - NTNU Department of Computer and Information Science</li>
    <li><strong>Notto J.W. Thelle</strong> - NOTAM, Norwegian Center for Technology in Music and the Arts</li>
    <li><strong>Joeran Rudi</strong> - NOTAM, Norwegian Center for Technology in Music and the Arts</li>
    <li><strong>Haakon Kvidal</strong> - NMH, Norwegian Academy of Music</li>
    <li><strong>Victor Lazzarini</strong> - NUIM, Nathional University of Ireland Maynooth, Department of Music</li>
    <ul>


{% endblock %}
