{# Modified version of admin/templates/admin/edit_inline/stacked.html #}

{% load i18n admin_static %}

<style type="text/css">
  img.up, img.down {
    width: 16px;
    height: 16px;
  }
  div.js-ordering {
    float: left;
    margin-right: 1em;
    display: none;
  }
  span.element-type {
    margin-left: 1em;
    font-style: italic;
  }
</style>


<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>{% trans 'Topic Element Display Order' %}</h2>

  {{ inline_admin_formset.formset.management_form }}
  {{ inline_admin_formset.formset.non_form_errors }}

  {% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">

      {% if inline_admin_form.form.non_field_errors %}
        {{ inline_admin_form.form.non_field_errors }}
      {% endif %}

      {% for fieldset in inline_admin_form %}
        {% include "admin/core/topic/basetopicelement_fieldset.html" %}
        <hr>
      {% endfor %}

      {% if inline_admin_form.has_auto_field %}
        {{ inline_admin_form.pk_field.field }}
      {% endif %}

      {{ inline_admin_form.fk_field.field }}
    </div>
  {% endfor %}
</div>

<script type="text/javascript">
(function($) {
  $("#{{ inline_admin_formset.formset.prefix }}-group .inline-related").stackedFormset({
    prefix: '{{ inline_admin_formset.formset.prefix }}',
    adminStaticPrefix: '{% static "admin/" %}',
    deleteText: "{% trans "Remove" %}",
    addText: "{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}"
  });
})(django.jQuery);
</script>

<script type="text/javascript">
(function($) {
    // Replace the text input fields with images and JavaScript
    $("div.topicelement-order").hide();
    $("div.js-ordering").show();

    // #elements-group is the first div.inline-group, i.e. the list of
    // BaseTopicElement objects that we want to order
    $("div#elements-group div.inline-related").delegate(
            ".up, .down", "click", function() {

        var $current_element = $(this).closest("div.inline-related"),
            $previous_element = $current_element.prev(),
            $next_element = $current_element.next(),
            ordinal = "div.topicelement-order input";

        if ($(this).hasClass("up")) {
            if (!$previous_element)
                return;
            var current_ordinal = parseInt($current_element.find(ordinal)
                                                           .val());
            var previous_ordinal = parseInt($previous_element.find(ordinal)
                                                             .val());
            if (isNaN(previous_ordinal))  // handle a mystery bug; JS <3
                return;
            $current_element.find(ordinal).val(previous_ordinal);
            $previous_element.find(ordinal).val(current_ordinal);
            $current_element.insertBefore($previous_element);
        } else if ($(this).hasClass("down")) {
            if (!$next_element || $next_element.hasClass("empty-form"))
                return;
            var current_ordinal = parseInt($current_element.find(ordinal)
                                                           .val());
            var next_ordinal = parseInt($next_element.find(ordinal).val());
            $current_element.find(ordinal).val(next_ordinal);
            $next_element.find(ordinal).val(current_ordinal);
            $current_element.insertAfter($next_element);
        }
    });
 })(django.jQuery);
</script>
