{% load i18n staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}gDSP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
    {% block head %} {% endblock %}  {# for including JS, CSS etc. #}
  </head>
  <body>
    <div id="body-wrapper">
      <nav>
        <ul>
          <li><a href="{% url 'core:lessons' %}">{% trans 'Lessons' %}</a></li>
          <li><a href="#">About</a></li>
          {% if user.is_authenticated %}
            <li id="logout">
              <a href="{% url 'accounts:logout' %}">
                {% blocktrans with user.username as username %}
                  Log out {{ username }}
                {% endblocktrans %}
              </a>
            </li>
          {% else %}
            <li id="login">
              <a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      {% block header %} {% endblock %}  {# for submenus and such #}
      <div id="content-wrapper">
        {% block content %} {% endblock %}  {# the main content of the page #}
      </div>
    </div>
  </body>
</html>
