{% extends 'core/lessons/base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans 'Lessons' %}{% endblock %}

{% block content %}

<h1>{% trans 'Lessons' %}</h1>

<ul class="lessons"> <!-- Lagt til ID -->
  {% for lesson in lessons %}
    <li class="l{% lesson.id %}"> <!-- Lagt til ID. Sjekk om ID blir rendra riktig!! -->
      	<a href="{% url 'core:lesson' lesson.id %}">{{ lesson.title }}</a>
      	<ul class="lesson-sub-list"> <!-- Lagt til liste med sub-topics. Sjekk om dette blir rendra riktig!! -->
        	{% for topic in lesson.topics.all %}
            <li>{{ topic.display_title }}</li>
            {% endfor %}
        </ul>
    </li>
  {% endfor %}
</ul>

{% endblock %}
