{% extends 'core/lessons/base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} | {% trans 'Lessons' %}{% endblock %}

{% block content %}

<h1>{% trans 'Lessons' %}</h1>

<ul class="lessons">
  {% for lesson in lessons %}
	<li>
	<img src="{{ lesson.image.url }}">
      	<a href="{% url 'core:lesson' lesson.id %}">{{ lesson.title }}</a>
      	<ul class="lesson-sub-list"> <!-- Lagt til liste med sub-topics. Sjekk om dette blir rendra riktig!! -->
        	{% for relation in lesson.lessontopicrelation_set.all %}
		  {% if relation.visible %}
            <li>{{ relation.topic.display_title }}</li>
		  {% endif %}
            {% endfor %}
        </ul>
    </li>
  {% endfor %}
</ul>

<div class="clear">
</div>

{% endblock %}
