{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}{{ block.super }} | {{ lesson.title }}{% endblock %}

{% block content %}

{% for element in lesson_topic.topic_elements %}
  {{ element.to_html | safe }}
{% endfor %}

<nav class="next-and-prev">
  {% with prev=lesson_topic.previous.topic next=lesson_topic.next.topic %}

    {% if prev %}
      <a href="{% url 'core:lesson' pk=lesson.id topic=prev.id %}">
        &lt;&lt; {{ prev.title }}
      </a>
    {% endif %}

    {% if next %}
      <a href="{% url 'core:lesson' pk=lesson.id topic=next.id %}">
        {{ next.title }} &gt;&gt;
      </a>
    {% endif %}

  {% endwith %}
</nav>

{% endblock %}
